/* Box exemple */
.box-container {
  width: 500px;
  height: 500px;
  margin: 20px auto;
  border: 5px solid grey;
}

.box1,
.box2 {
  height: 150px;
  width: 150px;
}

.box1 {
  background-color: red;
}

.box2 {
  background-color: orange;
}

/* Position static */
/* Position relative => top, right, left, bottom + z-index */
/* Position absolute */
/* Position fixed */
/* Position sticky */