* {
  box-sizing: border-box;
}

.box1,
.box2,
.box3,
.box4 {
  padding: 5px;
  margin: 5px;
  border: 5px solid red;
}


.container {
  display: flex;
  flex-direction: row;
  /* flex-start, flex-end, center, space-evenly, space-between */
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}

.box1 {
  flex-grow: 0;
  flex-basis: 200px;
}

.box2 {
  flex-grow: 0;
  flex-basis: 200px;
}

/* .box1 {
  order: 3
}

.box2 {
  order: 2
}

.box3 {
  order: 1;
}

.box4 {
  order: 4;
} */

.box1 img {
  float: left;
}