body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.map {
  width: 404px;
  height: 404px;
  border: 2px solid red;
  position: relative;
  margin: 0 auto;
}

.player {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: black;
}
